

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

body {
    font-family: sans-serif;
    color: blue;
}

#main {
    background-image: url(./IMAGES/main.png);
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
    
}


a {
    text-decoration: none;
}

.container {
    max-width: 500px;
    padding: 45px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 45px;
    align-items: center;
}

.nav-list a {
    color: white;
}

.btn {
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary {
    border: 1px solid white;
    font-weight: bold;
    color: yellow;
}

.btn-primary {
    border: none;
    background: blueviolet;
    color: yellow;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: whitesmoke;
}

.main-content .intro-heading {
    font-size: 15px;
}

.main-content .main-heading {
    font-size: 110px;
    margin-top: -20px;
}

.main-content p {
    max-width: 250px;
    margin-bottom: 40px;
}

.menu-btn {
    position: absolute;
    top: 40px;
    right: 20px;
    display: none;
    width: 30px;
}

.section-title h1 {
    font-size: 50px;
    text-align: center;
}

.section-title .line {
    width: 150px;
    height: 4px;
    border: 10px;
    background: yellow;
    margin: auto;
}

.services {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 26px;
}

.service {
    margin-right: 100px;
}

.service img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.service img:hover{
    transform: scale(1.05);
}

#testimonial {
    background: #f1f2fa;
}

#testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 30px;
}

#testimonial h1 {
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    padding: 50px 16px;

}

#testimonial .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#about-us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

#about-us .container .about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

#about-us .container .about-content h1 {
    font-family: sans-serif;
    font-size: 30px;
}


#question {
    min-height: 500px;
    background-image: url(./IMAGES/main-2.png);
    background-position: buttom center;
    background-size: cover;
}


#questions .container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
}

#questions h1 {
    font-size: 50px;

}

footer .container {
    display: flex;
    padding: 40px 16px;
    justify-content: space-between;
    align-items: center;
}


.footer-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;

}

.service img {
    max-width: 100%;
}


@media screen and (max-width:520px) {
    .menu-btn {
        /* display: block; */
    }

    .nav-list.active {
        right: 0;
    }
    .nav-list li:not(:last-child) {
        width: 11%;
        padding: 15px 0px;
    }

    .main-content p {
        font-size: 20px;
    }

    #main {
        width: 500px;
    }
    #about-us .container {
        flex-direction: column;
        gap: 30px;
    }

    footer.container {
        flex-direction: column;
        gap: 16px;
    }
}

    


